<footer
  class="text-center text-lg-start"
  style="background-color: #555555"
>
  <div class="container py-3">

    <div class="container p-4 pb-0">

      <div class="row">

        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">
            Projet Ecole
          </h6>
          <p>
            Plateforme de simulation de gestion scolaire : mon site vous permet de créer, organiser et attribuer des cours, des formateurs et des salles de classe pour des sessions d'enseignement. Le côté frontend de cette plateforme utilise TypeScript, Angular, HTML, CSS, ainsi que plusieurs bibliothèques
          </p>
        </div>


        <hr class="w-100 clearfix d-md-none" />


        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Gestion</h6>
          <p>
            <a href="cours/">Cours</a>
          </p>
          <p>
            <a href="local/">Local</a>
          </p>
          <p>
            <a href="sessionCours/">Session-Cours</a>
          </p>
          <p>
            <a href="formateur/">Formateur</a>
          </p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
          <p><i class="fa fa-home mr-3"></i> Avenue du champ de mars</p>
          <p><i class="fa fa-envelope mr-3"></i> Mirko.Cuozzo&#64;condorcet.be</p>
          <p><i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
          <p><i class="fa fa-print mr-3"></i> + 01 234 567 89</p>

          <h6 class="text-uppercase mb-4 font-weight-bold">Suivez-moi</h6>
          <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" target="_blank" href="https://github.com/MirkoCzo" role="button">
            <i class="fa fa-github"></i> GitHub
          </a>
          <a class="btn btn-primary btn-floating m-1" style="background-color: #0077B5" target="_blank" href="https://www.linkedin.com/in/mirko-cuozzo-a97078207/" role="button">
            <i class="fa fa-linkedin"></i> LinkedIn
          </a>
          <a class="btn btn-primary btn-floating m-1" style="background-color: #1DA1F2" target="_blank" href="https://twitter.com/Mirko_Cuozzo" role="button">
            <i class="fa fa-twitter"></i> Twitter
          </a>
          <a class="btn btn-primary btn-floating m-1" style="background-color: #FF0000" target="_blank" href="https://www.youtube.com/@MirkoCuozzo" role="button">
            <i class="fa fa-youtube"></i> YouTube
          </a>
        </div>
      </div>
    </div>

  </div>

  <div
    class="text-center p-3"
    style="background-color: rgba(0, 0, 0, 0.2)"
  >
    © 2023 Copyright:
    <a href="/"
    >Projet Angular Mirko Cuozzo</a
    >
  </div>
  <!-- Copyright -->
</footer>
