<div class="container" *ngIf="deleted == false">
  <form [formGroup]="sessionCoursFormGroup" *ngIf="sessionCoursFormGroup">
    <div class="form-group">
      <label>Id de la session</label>
      <input type="text" class="form-control" formControlName="idsessioncours" [ngClass]="{'readonly': true}" readonly >
    </div>

    <div class="form-group">
      <label>Date de début</label>
      <input type="date" class="form-control" formControlName="date_Debut"
             [ngClass]="{'is-invalid': submitted && sessionCoursFormGroup.controls.date_Debut.errors}">
      <div *ngIf="submitted && sessionCoursFormGroup.controls.date_Debut.errors" class="invalid-feedback">
        <div *ngIf="sessionCoursFormGroup.controls.date_Debut.errors.required">
          date de debut obligatoire
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Date de fin</label>
      <input type="date" class="form-control" formControlName="date_Fin"
             [ngClass]="{'is-invalid': submitted && sessionCoursFormGroup.controls.date_Fin.errors}">
      <div *ngIf="submitted && sessionCoursFormGroup.controls.date_Fin.errors" class="invalid-feedback">
        <div *ngIf="sessionCoursFormGroup.controls.date_Fin.errors.required">
          date de fin obligatoire
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Nombre d'inscrits</label>
      <input type="text" class="form-control" formControlName="nbreinscrits"
             [ngClass]="{'is-invalid': submitted && sessionCoursFormGroup.controls.nbreinscrits.errors}">
      <div *ngIf="submitted && sessionCoursFormGroup.controls.nbreinscrits.errors" class="invalid-feedback">
        <div *ngIf="sessionCoursFormGroup.controls.nbreinscrits.errors.required">
          Nombre d'inscrits obligatoire
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Id Local</label>
      <input type="text" class="form-control" formControlName="idlocal" [ngClass]="{'readonly': true}" readonly>
    </div>


    <div class="form-group">
      <label>Id cours</label>
      <input type="text" class="form-control" formControlName="idcours" [ngClass]="{'readonly': true}" readonly>
    </div>

    <nav class="navbar navbar-expand-sm">
      <ul class="navbar navbar-nav">
        <li class="nav-item">
          <button (click)="onUpdateSessionCours()" class="btn btn-success">
            Modify
          </button>
        </li>
        <li class="nav-item">
          <button (click)="onDeleteSessionCours()" class="btn btn-danger">
            Delete
          </button>
        </li>
      </ul>
    </nav>
  </form>

</div>
