<div class="form-container">
  <h1 class="text-center text-dark">Gestion des locaux</h1>
  <form #s="ngForm" (ngSubmit)="onSearchBySigle(s.value); searchType='sigle'" class="form-inline">
    <label class="text-dark">Sigle:</label>
    <input ngModel name="sigle" type="text" required>
    <button [disabled]="!s.form.valid" class="btn btn-sm btn-outline-info m-lg-2">
      <span class="fa fa-search"></span>
    </button>
  </form>

  <form #p="ngForm" (ngSubmit)="onSearchByPlaces(p.value); searchType='places'" class="form-inline">
    <label class="text-dark">Places:</label>
    <input ngModel name="places" type="text" required>
    <button [disabled]="!p.form.valid" class="btn btn-sm btn-outline-info m-lg-2">
      <span class="fa fa-search"></span>
    </button>
  </form>

  <div>
    <button (click)="onSearchAll()" class="btn btn-sm btn-outline-info ms-2">All</button>
    <button (click)="onNewLocal()" class="btn btn-sm btn-outline-info ms-2">Ajouter un local</button>
  </div>

</div>
<div>
  <ng-container *ngIf="local; else noLocal">
    <div class="table-container">
      <table class="table table-dark">
        <thead>
        <th>Id local</th>
        <th>Sigle</th>
        <th>Places</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>
        </thead>
        <tbody>
        <tr>
          <td>{{local.idlocal}}</td>
          <td>{{local.sigle}}</td>
          <td>{{local.places}}</td>
          <td>{{local.description}}</td>
          <td>
            <button (click)="onEdit(local)" class="btn btn-danger">
              <span class="fa fa-edit"></span>
            </button>
          </td>
          <td>
            <button (click)="onDelete(local)" class="btn btn-danger">
              <span class="fa fa-trash-o"></span>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </ng-container>

  <ng-container *ngIf="locaux && locaux.length>0; else noLocaux">
    <div class="table-container">
      <table class="table table-dark">
        <thead>
        <th>Id local</th>
        <th>Sigle</th>
        <th>Places</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>
        </thead>
        <tbody>
        <tr *ngFor="let l of locaux">
          <td>{{l.idlocal}}</td>
          <td>{{l.sigle}}</td>
          <td>{{l.places}}</td>
          <td>{{l.description}}</td>
          <td>
            <button (click)="onEdit(l)" class="btn btn-danger">
              <span class="fa fa-edit"></span>
            </button>
          </td>
          <td>
            <button (click)="onDelete(l)" class="btn btn-danger">
              <span class="fa fa-trash-o"></span>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </ng-container>

  <ng-template #noLocal>
    <ng-container *ngIf="searchType === 'sigle';">
      Pas de local portant ce sigle
    </ng-container>
  </ng-template>

  <ng-template #noLocaux>
    <ng-container *ngIf="searchType === 'places';">
      Pas de local ayant un nombre de places supérieur ou égal
    </ng-container>
  </ng-template>
</div>
