<div class="container">
  <form [formGroup]="sessionCoursFormGroup" *ngIf="sessionCoursFormGroup">
    <table class="table">
      <thead>
      <th>Date de début</th>
      <th>Date de fin</th>
      <th>Nombre d'inscrits</th>
      <th>Id du local</th>
      <th>Id du cours</th>
      </thead>
      <tbody>
      <tr>
        <td>
          <input type="date" class="form-control" formControlName="date_Debut">
        </td>
        <td>
          <input type="date" class="form-control" formControlName="date_Fin">
        </td>
        <td>
          <input type="text" class="form-control" formControlName="nbreinscrits">
          <div class="text-danger" *ngIf="sessionCoursFormGroup.get('nbreinscrits')?.hasError('required') && submitted">
            Le nombre d'inscrits est obligatoire.
          </div>
        </td>
        <td>
          <input type="text" class="form-control" formControlName="idlocal">
          <div class="text-danger" *ngIf="sessionCoursFormGroup.get('idlocal')?.hasError('required') && submitted">
            L'ID du local est obligatoire.
          </div>
        </td>
        <td>
          <input type="text" class="form-control" formControlName="idcours" [ngClass]="{'readonly': true}" readonly>
        </td>
      </tr>
      </tbody>
    </table>
    <button (click)="onSaveSessionCours()" class="btn btn-success">
      Ajouter Session
    </button>
  </form>
</div>
