<div class="container">
  <form [formGroup]="sessionCoursFormGroup" *ngIf="sessionCoursFormGroup">
    <table class="table">
      <thead>
      <th>Date de début</th>
      <th>Date de fin</th>
      <th>Nombre d'inscrits</th>
      <th>Id du local</th>
      <th>Id du cours</th>
      </thead>
      <tbody>

      <td> <input type="date" class="form-control" formControlName="date_debut"></td>
      <td> <input type="date" class="form-control" formControlName="date_fin"></td>
      <td> <input type="text" class="form-control" formControlName="nbreinscrits"></td>
      <td> <input type="text" class="form-control" formControlName="idlocal"></td>
      <td> <input type="text" class="form-control" formControlName="idcours"></td>
      </tbody>
    </table>
    <button (click)="onSaveSessionCours()" class="btn btn-success">
      Save
    </button>
  </form>

</div>
