<div class="custom-container">
  <div class="row">
    <div class="col-md-4 custom-bg-light">
      <h2 class="custom-h2">Bienvenue</h2>
      <p>Bienvenue sur mon site de simulation de gestion d'une école ! Explorez toutes les possibilités qui s'offrent à vous pour créer, organiser et attribuer des cours, des formateurs et des locaux à des sessions de cours.</p>
    </div>

    <div class="col-md-8 custom-bg-light">
      <div class="fonctionnalites">
        <h2>Fonctionnalités</h2>
      </div>

      <div class="row">
        <div class="col-md-12 custom-bg-info">
          <a href="/cours"><h2 class="text-center">Cours</h2></a>
          <p>Découvrez ici la liste des cours à votre disposition. Vous disposez du pouvoir de les personnaliser, de les supprimer ou d'intégrer de nouveaux. De plus, vous pouvez ajouter des sessions de cours liées à chaque cours existant.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 custom-bg-info">
          <a href="/local"><h2 class="text-center">Local</h2></a>
          <p>Explorez la liste des locaux disponibles. Vous avez la liberté de les personnaliser, de les supprimer ou d'en intégrer de nouveaux.</p>
          <p>De plus, vous avez la possibilité de les rechercher selon leurs sigles ou en fonction du nombre total de places disponibles dans chaque local.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 custom-bg-info">
          <a href="/sessionCours"><h2 class="text-center">Session de cours</h2></a>
          <p>Ici, vous pourrez explorer les différentes sessions de cours offertes au sein de l'école et les rechercher à l'aide des différents filtres disponibles.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 custom-bg-info">
          <a href="/formateur"><h2 class="text-center">Formateur</h2></a>
          <p>Ici, vous pourrez visualiser tous les formateurs disponibles dans l'école, les modifier, les supprimer, les ajouter, ou les rechercher à l'aide de différents filtres.</p>
        </div>
      </div>
    </div>
  </div>
</div>
